<div class="loader"></div>
<div class="maincontent">
    <div>
      
        <section class="hero">\
            <div class="container-fluid">
                <div class="row no-margin"></div>
            </div>
        </section>
        <div class="row ">
            <div class="col-12 col-md-8" id="hero-quote">
                <section id="intro">
                    <h2 class="hero-quote mt-5 ml-5">
                        <i class="fas fa-quote-left"></i>
                        We believe fitness should be accessible to everyone, everywhere, regardless of income or access to a gym
                        <i class="fas fa-quote-right"></i>
                    </h2>
                </section>
            </div>


            <div class="col-12 col-md-4">
                <aside id="appointment-card">

                    <div class=" ml-5 card bShadow-10 bShadow-15h" style="width: 20rem; height: 25rem;">
                        <h5 class="card-title mt-3">Get Started Now</h5>
                        <img class="card-img-top" src="assets/images/card-image.jpg" alt="Training">
                        <div class="card-body">

                            <p class="card-text">Don't Think Twice</p>
                            <a href="/placeappiontment.html" class="btn btn-primary">Get Appointment Now</a>
                        </div>
                    </div>
                </aside>
            </div>
        </div>


        <section id="info" class="mt-5">
            <div class="row container-fluid">
                <div class="col-12 col-md-4">
                    <div class="card bShadow-15 mb-4 bShadow-20h" style="width: 18rem;">
                        <h5 class="card-title mt-3">Trainers</h5>
                        <img class="card-img-top" src="assets/images/card-image.jpg" alt="Training">
                        <div class="card-body">

                            <p class="card-text">Best in Class Trainers</p>

                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="card mb-4 bShadow-15 bShadow-20h" style="width: 18rem;">
                        <h5 class="card-title mt-3">Experience</h5>
                        <img class="card-img-top" src="assets/images/card-image.jpg" alt="Training">
                        <div class="card-body">

                            <p class="card-text">Fast Results</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card bShadow-15 mb-4 bShadow-20h" style="width: 18rem;">
                        <h5 class="card-title mt-3">Proffesional</h5>
                        <img class="card-img-top" src="assets/images/card-image.jpg" alt="Training">
                        <div class="card-body">

                            <p class="card-text">Trained 1000 members</p>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer id="footer" class="bShadow-20">
            <h4>FITNESS FREAKS</h4>
            <h4>CHENNAI, MARS</h4>
            <h4>copyrights @2024</h4>
        </footer>
    </div>
